<div class="navigation">
    <nav class="navbar navbar-light bg-light">
        <div class="nav-links">
            <a class="navbar-brand">HOME</a>
            <a class="navbar-brand">CATEGORIES</a>
            <a class="navbar-brand">AREAS</a>
        </div>
        
        <!-- search form -->
        <!-- <div class="col-md-6" class="search-nav">
            <div class="search-bar">
                    <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_results' %}">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search Category" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
            </div>
        </div>    
             -->
        <!-- end form  -->
    </nav>
</div> 
    
